# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Streamlit Secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

intelligence-paddy-system-297fda749fc6.json